@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

.wrapper {
	min-height: 100%;
	max-width: 810px;
	margin: 20px auto;
	overflow: hidden;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
}

.h1 {
	max-width: 810px;

	margin-bottom: 40px;

	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	color: #1e212c;
}
.img {
	width: 100%;
	max-width: 100%;
	margin-bottom: 60px;
}

.text1 {
	margin-bottom: 24px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	color: #1e212c;
}
.text2 {
	margin-bottom: 48px;
	color: #424551;
}
.text3 {
	margin-bottom: 48px;
	padding-left: 58px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	color: #1e212c;
}

.text4 {
	margin-bottom: 24px;
	color: #424551;
}
ol {
	margin-bottom: 24px;
	line-height: 1.8;
	text-shadow: 0px 5px 10px;
	padding-left: 32px;
}

.text5 {
	color: #424551;
}
.link {
	display: inline-block;
}
