

/* <!-- =============================================================== -->
<!-- ______________________УРОК 5: ВПЛИВ НА БЛОКИ_____________________________ --> */

/* <!-- =====================Відступи========================= 

	/* ВНУТРІШНІЙ ВІДСТУП тільки для блочних - відстань від границь обюєкта до його змісту */
/* Значення задаються числом і одиницею виміру 
одиниці виміру: px, %, em, rem*/

/* селектор padding блочний тег <DIV> і т.д.*/
.block {
	/* верхній */
	/* padding-top: 50px ; */
	/* правий */
	/* padding-right: 50px ; */
	/* нижній */
	/* padding-bottom: 50px ; */
	/* лівий */
	/* padding-left: 50px ; */

	/* АБО */

	/* універсальний параметр */

	/* Анатомія */
	/* padding: зверху зправа знизу зліва */
	/* стрілка годинника 12 3 6 9 */
	/* padding: 50px 50px 50px 50px; */

	/* одинакові значення зверзу/знизу зліва/зправа */
	/* зверзу/знизу 20px  зліва/зправа 50px*/
	/* padding: 20px 50px; */

	/* одинакові значення  зліва/зправа */
	/* зверху 20px зліва/зправа 50px знизу 40px */
	/* padding: 20px 50px 40px; */

	/* Всі значення рівні */
	/* зліва/зправа, зверху/внизу 50px */

	/* padding: 50px; */

	/* значення у % */
	/* число взяте від ширини родителя (родитель = 100%) */
	/* padding: 20%; */
}
/* Строчний тег <span> і т.д. */
.inline {
	/* padding: 50px; */
}

/* /* ЗОВНІШНІЙ ВІДСТУП тільки для блочних*/
/* відстань від границь обєкта до інших обєктів */
/* Значення задаються числом і одиницею виміру 
одиниці виміру: (px, %, em, rem)

Значення можуть відємними */
/* селектор margin */

.block {
	/* верхній */
	/* margin-top: 50px; */
	/* правий */
	/* margin-right: 50px; */
	/* нижній */
	/* margin-bottom: 50px; */
	/* лівий */
	/* margin-left: 50px; */
}

.block-2 {
	/* padd: 20px; */
	/* margin: абсолютно повність повтроює параметри padding окрім 
можливості задавти відємні значення.
margin: із відємним значенням рухає за собою і інші обєкти по 
дереву кода body*/
}
.inline {
	/* margin: 30px; */
}

/* ============================ШИРОТИ і ВИСОТИ=================== */
/* <Блочний тег <DIV> і т.д.*/
/* Значення задаються числом і одиницею виміру 
одиниці виміру: (px, %, em, rem)*/

.block {
	/* Широти можуть задаватися трьома параметрами:
"Конкретні широти"*/

	/*width: 500px; */

	/* Обмежувальні */

	/* "не ширше ніж..." */
	/*max-width: 500px; */

	/* "не вужче ніж..." */
	/* min-width: 300px; */

	/* відсотки від ширини  родиделя */
	/* width: 50%; */
	/* широти визначаютья яку сам обєкт буде мати ширину */

	/* --------------------------------------------- */

	/* Висоти можуть задаватися трьома параметрами:
"Конкретні висоти"*/
	/* height: 500px; */

	/* Обмежувальні */

	/* "не вище ніж..." */
	/*max-heigh: 500px; */

	/* "не нижче ніж..." */
	/* min-heigh: 300px; */

	/* відсотки від висоти робиделя (*) */
	/* height: 20%; */
	/* (*) 100500 причин щоб запрацювало */

	/* висоти визначають яку сам обєкт буде мати висоту */
}

/* Строчний тег <SPAN> і т.д.*/
.inline {
	/* не працює для строчних тегів!!! */
}

/* НЮАНСИ */
/* НЮАНС № 1 
Використовування margin	для вирівнювання*/
/* Умови:
1)Обєкт має бути блочним
2) Обєкт має бути вужчим ніж родитель (тобто margin йде після обмеження блока за допомогою width
3)Обєкту задано вирівнювання  
*/

.block {
	/* max-width: 500px; */
	/* центрування */
	/* margin: 0 auto; */
	/* центрування + відступ */
	/* margin: 20px auto ; */

	/*як прибити обєкт до правої сторони?  */
	/* margin: 0 0 0 auto; */
}

.inline {
	/* max-width: 500px; */
	/* margin: auto; */
	/* НЕ буде працювати юл не блочний обєкт а строчний */
}
/* НЮАНС № 2 схлопування/наслойка */
/* наслойка margin - зовнішні відступи двох блоків наслоюються один на одного, якщо відсупи обох юлоків мають одинакове одиничне значення то ці значення не плюсуються на полотні, а ніби наслоюються один на одгого. Якщо один із одиничних параметрів одного блока відрізняється від іншого блока то відступ між блоками на полотні буде відображений більшого значення одного з блоків*/

.block {
	/* margin: 0	0	50px	0; */
}
.block-2 {
	/* margin: 100px 0 0 0; */
	/*у даному випадку відстань між блоками буде 100px а не 150px */
}

/* НЮАНС №3 метод вираховування спільного розміру*/
/* box-sizing: 
Застосовується для вимірювання алгоритма розрахуку ширини і
висоти елемента. 

content-box; - грунтується на стандартах CSS, при цьому властивості width і height задають ширину і висоту контента і
не включають в себе значення відступів, полів і границь.

border-box; - властивості width і height включають у себе значення полів і границь, але не відступів (margin).

padding-box; - властивості width і height включають у себе значення полів, але не відступів (margin) і границь (border).

*/

.block {
	/* width: 300px; */
	/* height: 300px; */
	/* padding-left: 150px; */
	/* box-sizing: border-box; */
}

/* ==============УПРАВЛІННЯ ЛИШНІМ КОНТЕНТОМ============== */
/* Тільки для блочних! */
/* 
overflow:

visible; - це значення працює по умолчанію (весь текст буде 
видно у обєкті навіть якщо туди не поміщається).

hidden;	- це значення відображає тільки область 
(текст або інші елементи) внутрі обєкта, інше буде скрито.

scroll; - додаються полоси прокрутки (завжди видимі)

auto; - полоси прокрутки добавляються лише тоді коли
у тому є потреба.
 */

.block {
	/*по умолчанію  */
	/* overflow: visible */
	max-height: 100px;
	overflow: hidden;
	/* overflow: scroll; */
	overflow: auto;
	margin-bottom: 50px;
}

/* ===================УПРАВЛІННЯ ТИПОМ ОБЄКТА================== */

/* display: 
Багатофункціональна властивість селектора дає можливість визначити як обєкт
має бути показаний у документі(на сторінці).

 Властивість не спадкується!!

 block; - елемент показується як блочний. Застосування цього значення для
 вбудованих елементів наприклад тега <span>, змушує його отримати блочні 
 властивості, тобто стати блочним елементом з усіма його властивостями.
 ВІдбувається перенос строки у початку і вкінці содержимого.

 inline; - елемент будучи наприклад блочним перетворюється на строчний.
 Використання блочних тегів як <div> і <p>, автоматично створює перенос 
 і показує зміст цих тегів з нової строки. Значення inline відміняє цю
 особливість, тому зміст блочних елементів починається з того місця де
 закінчився попередній елемент.

 inline-block; - це значення генерує блочний елемент, який обтікається
 іншими елементами веб сторінки накшталт встроїному строчному 
 елементу типу  <img>. При цьому його внутрішня сутність залишається
 блочною.
 Тобто будучи обтікаємим як строчні елементи на такий елемент
  діють блочні селектори!!!

none; - Тимчасово видалає елемент із документа (веб-сторінки).
Місце, яке раніше займало такий обєкт ніби зникає і веб-сторінка 
формується так ніби елемента взаггалі не було.

/* Гібридний тип блочно-строчний тип */

/* як убрати фантомний відступ: */
.ex {
	/* font-size: 0; */
}

.inline-span {
	/* background-color: #794f45;
display: inline-block;
font-size: 16px; */
}

/* ТЕГ <AMG> ізначально блочно-строчний */
